<h3>Api Example: Tweets about `gordomandoza`</h3>
<div id="tweets">loading</div>
<br/>
<button type="button" onclick="app.fadingPartialChange('#main','main');">back home</button>

<script>
app.page = {};
app.page.loadTweets = function(){
	//http://search.twitter.com/search.json?q=gordomandoza&callback=myFnc
	params = {};
	params.q = "gordomandoza";
	app.apiRequest("", "app.page.loadTweetsCallback", params);
};
app.page.loadTweetsCallback = function(api){
	docData = "";
	for(tweetCounter in api.results){
		var tweet = api.results[tweetCounter];
		// docData = docData + '<img src="'+tweet.profile_image_url+'" />';
		docData = docData + '<b>'+tweet.from_user+'</b>: ';
		docData = docData + tweet.text;
		docData = docData + '<br/>';
	}
	$("#tweets").html(docData);
};

$(document).ready(function() { 
	app.page.loadTweets(); 
});
</script>